#display{
  display: none;
  color: #b3ffff;
}

body{
  background-color:  #66ffcc;
  background: linear-gradient(#ff6699, blue);
}

#ball{
  height: 30%;
  width: 100%;
  border-style: solid;
  border-width: 50px 1px 0px 1px;
  border-color: #808080;
}

.nav nav-pills{
  display: inline;
}

#mini-ball {
  width: auto;
  height: 50px;
}

h1{
  color: #b3ffff;
}

#gameRules{
  color: #000099;
}

.about:visited{
  color: green;
}

h3{
  text-decoration: underline;
}

#rules-text{
  font-weight: bold;
  color: #b3ffff;
}

.about{
  color: #b3ffff;
  display: none;
  margin-left: 20px;
}

.about:hover{
  color: red;
}
