#display{
  display: none;
}

body{
  background-color:  #66ffcc;
}

#ball{
  height: 30%;
  width: 100%;
  border-style: solid;
  border-width: 50px 1px 0px 1px;
  border-color: #808080;
}

#mini-ball {
  width: auto;
  height: 50px;
}

h1{
  color: blue;
}

#rules{
  color: #000099;
}

h3{
  text-decoration: underline;
}

#rules-text{
  font-weight: bold;
}

.about{
  color: #000099;
  display: none;
}
